* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'BIZ UDGothic', sans-serif;
}

body{
    margin: 0px;
    color: goldenrod;
    background-color: #182258;
    background-image: linear-gradient(43deg, #182258 0%, #731e6d 46%, #0e0e0e 100%);
    
}
.darkMode {
    color: rgb(243, 242, 242);
    background-color: #000000;
    background-image: linear-gradient(43deg, #000000 0%, #000000 46%, #931b1b 100%);
}
/*IMAGEN BANNER*/
.page-nav .banner {
    width: 100%;
    border: 1px solid black;
    z-index: -10;

}
.logo {
    position: fixed;
    z-index: 20;
    margin: 20px 0px 200px 780px;
}
.logo:hover {
    cursor: pointer;
}
/* TITULO */
h1{
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 45px;
}
h1:hover {
    color: goldenrod;
    cursor: pointer;
}

hr {
    margin: 20px;
}
/*BOTONES CATALOGO*/
.btn-catalogo {
 margin: 0px 220px 0px 250px;
 padding: 10px;
 border-radius: 20px;
}
.btn-catalogo:hover {
    background-color: #f0e0e6;
    background-image: linear-gradient(43deg, #f0e0e6 0%, #e8cae8 46%, #ffffff 100%);
}
/*NAV*/


/*PRODUCTOS DESDE JS*/
.ocultar{
    display: none;
}
.productosEstilos{
    display: grid;
    grid-template-columns: repeat(3,1fr)
}
.inputBorder{
    border: solid,black,1px
    
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }

/*Card*/
#productos{
    background-color: #9a6d97;
    border: 2px solid black;
    border-radius: 5px;
    margin: 15px;
}
.card{
    width: 90%;
    max-width: 350px;
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 10%;
    text-align: center;
    background-color: white;
    max-height: 800px;
}
.card:hover{
    background-color: #f0e0e6;
    background-image: linear-gradient(43deg, #f0e0e6 0%, #e8cae8 46%, #ffffff 100%);
    cursor: pointer;    
}
.card h3{
    color: black;
    margin: 0.5rem 0rem;
    padding: 0.25rem;
    padding-top: 1rem;
    font-size: 2.25rem;
    height: 120px;

}
.card img{
    border-radius: 2%;
    min-width: 250px;
    width: 100%;
    height: 300px;
}
.content{
    padding: 1rem;
    font-size: 1rem;

}
.content button{
    padding: 0.5rem;
    text-decoration: none;
    color: gray;
    border: 1px black solid;
    border-radius: 20%;
    color: white;
    background-color: black;
    font-size: 1.25rem;

}
.content button:hover{
    color: black;
    background-color: antiquewhite;
    height: 200%;
    
}
.autorCard{
    font-size: 2rem;
    height: 80px;
    color: black;
}
.precioCard{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    color: goldenrod;
}

/*CONTENIDO PAG*/
/* .page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #731e6d;
    margin: 20px;
    border-radius: 5px;
    border: 2px solid black;
}
.product-container{
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    cursor: pointer;
}
.product-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
    background-color: #f8eaf1;
    border-radius: 5px;
    
}
.product-container img {
    width: 300px;

} */
/*BOTONES*/
.button-add {
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    color: black;
    padding: 10px 2px;
    border: 2px solid #cd25a6;
    transition-duration:  0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
    cursor: pointer;

}
.button-add:hover{
    background-color: #f2569f;
    border: 2px solid black;
} 

/*CONTACTO*/
.form {
    margin:  10px 500px;
    background-color: #731e6d;
    border: 2px solid black;
    border-radius: 5px;
}
form {
    padding: 20px;
}
#texto {
    padding: 20px;
}
.submit {
    margin: 5px;
    padding: 10px;
}
